<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <h1>Edit Profile</h1>
        <form action="/user/<%= User.id %>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%= User.name %>"></br>
            Email: <input type="text" name="email" value="<%= User.email %>"></br>
            Password: <input type="password" name="password" value="<%= User.password %>"></br>
            Location: <input type="text" name="location" value="<%= User.location %>"></br>
            Skills: <input type="text" name="skills" value="<%= User.skills %>"></br>
            Profile Picture (link): <input type="text" name="profilePic" value="<%= User.profilePic %>"></br>
            <input type="submit" value="Save Changes">
        </form>
        <form action="/user/<%= User.id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE ACCOUNT">
        </form>
    </body>
</html>
