<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% include ./partials/nav.ejs %>
        <div class="container">
            <h1>Jobs</h1>
            <ul>
                <% for (let i = 0; i < Jobs.length; i++) { %>
                <li>
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= Jobs[i].img%>">
                                <span class="card-title"><%= Jobs[i].title %></span>
                            </div>
                            <div class="card-content">
                                <p><%= Jobs[i].description %></p> 
                                <p>Author: <%= Jobs[i].author %></p>
                            </div>
                            <div class="card-action">
                                <a class="btn" href="#">Help out</a>
                                <a class="btn right" href="/job/<%= Jobs[i].id %>">More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </div> 
    </body>
</html>
