<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% include ./partials/nav.ejs %>
        <div class="container">
            <h1>Jobs</h1>
            <ul>
                <% for (let i = 0; i < Jobs.length; i++) { 
                   if (Jobs[i].finished == false) { %>
                <li>
                    <div class="row">
                        <div class="card">
                            <div class="card-image">
                                <img height=300px src="<%= Jobs[i].img%>">
                                <span class="card-title"><%= Jobs[i].title %></span>
                            </div>
                            <div class="card-content">
                                <h2>$<%= Jobs[i].price %></h2>
                                <p><%= Jobs[i].description %></p> 
                                <p>Author: <%= Jobs[i].author %></p>
                            </div>
                            <div class="card-action">
                                <a href="/job/<%= Jobs[i].id %>">More</a>
                                <% if (currentUser) { %>
                                <form class="right" action="/job/<%= Jobs[i].id %>/helpOut?_method=PUT" method="POST">
                                    <input type="submit" value="Help Out">
                                </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </li>
                <% }} %>
            </ul>
        </div> 
    </body>
</html>
