<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Help Me Out</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    </head>
    <body>
        <a href="/">Home</a>
        <img alt="Profile Pic" src="<%= User.profilePic %>">
        <h1><%= User.name %></h1>
        <h3>Email: <%= User.email %></h3>
        <h3>Location: <%= User.location %></h3>
        <h4>Skills</h4>
        <ul>
            <% for (let i = 0; i < User.skills.length; i++) { %>
            <li><%= User.skills[i] %></li>
            <% } %>
        </ul>
    </body>
</html>
