<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% include ./partials/nav.ejs %>
        <img alt="Profile Pic" src="<%= User.profilePic %>">
        <h1><%= User.name %></h1>
        <h3>Email: <%= User.email %></h3>
        <h3>Location: <%= User.location %></h3>
        <h4>Skills</h4>
        <ul>
            <% for (let i = 0; i < User.skills.length; i++) { %>
            <li><%= User.skills[i] %></li>
            <% } %>
        </ul>
        <h4>Jobs Asked</h4>
        <ul>
            <% for (let i = 0; i < User.jobsAsked.length; i++) { %>
            <li><%= User.jobsAsked[i] %></li>
            <% } %>
        </ul>
        <h4>Jobs Done</h4>
        <ul>
            <% for (let i = 0; i < User.jobsDone.length; i++) { %>
            <li><%= User.jobsDone[i] %></li>
            <% } %>
        </ul>
    </body>
</html>
