<!DOCTYPE html>
<html>
    <% include ./partials/head.ejs %>
    <body>
        <% include ./partials/nav.ejs %>
        <div class="container">
            <div class="container row">
                <img class="col s3" alt="Profile Pic" src="<%= User.profilePic %>">
                <div class="col s9">
                    <h3><%= User.name %></h3>
                    <h6>Email: <%= User.email %></h6>
                    <h6>Location: <%= User.location %></h6>
                </div>
            </div>
            <h4>Skills</h4>
            <div class="container">
                <ul>
                    <% for (let i = 0; i < User.skills.length; i++) { %>
                    <li><%= User.skills[i] %></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </body>
</html>
